body {
    font-family: ProximaNova,Arial,sans-serif;
    background-color: #FAFAFA;
    
}
.hero-block {
    padding-top: 6rem;
    padding-bottom: 5rem;
    overflow: hidden;
}

.navbar{
    background-color: #ffffff;
    border-bottom: 1px solid #EAEDF1;
}

.page {
    color: #888888;
}
.solid-round {
    background-color: #2D8CFF;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: relative;
    top: -187px;
    left: 120%;
}
.open-round {
    background-color: #ffffff;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 3px solid #2D8CFF;
    position: relative;
    left: 70%;
    top: 345px;
}

@media (max-width: 991.98px){
.hero-block .left h1 {
    font-size: 50px;
    line-height: 57px;
    }
}